<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Streamers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="box">
    <h1 class="glitch-title">🎥 Streamers</h1>

    <div class="streamer-grid">

        {% for s in streamers %}
        <a class="streamer-card" href="/profile/{{ s.username }}">

            <img class="avatar"
                 src="{{ s.avatar }}"
                 alt="avatar">

            <h2 class="streamer-name">
                {{ s.username }}
            </h2>

        </a>
        {% endfor %}

    </div>

    <hr>

    <a href="/login" class="login-link">
        🎮 Вход для стримеров
    </a>
</div>

</body>
</html>
